---
layout: layout.liquid
title: Random Name
---
<div x-data="{names : ['Will', 'Shay', 'Mike', 'Adam', 'Derek', 'Sophie', 'Paige', 'Taylor', 'Ashley', 'Delaney']}">
    <h1 id="name">Random Name Here</h1>
    <button @click="changeHeader(names)">Random Name</button>
</div>